aside {
  background-color: white;
  height: 100vh;
  border-right: 2px solid #13182c;
}

.navbar,
.menu {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid #13182c;
}

.menu-list a {
  margin-bottom: 1rem;
  color: black;
  font-weight: 500;
}
.menu-list a:nth-child(1) {
  margin-top: 2rem;
}
.dasboardcontainer {
  margin: 4rem auto;
}
.graph {
  width: 90%;
  margin: auto auto;
  /* height: 10rem; */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(128, 128, 128, 0.259);
  font-weight: 500;
  color: black;
}
.bigColumn {
  background-color: rgba(110, 137, 237, 0.252);
  height: 100vh;
}

.tags {
  width: 90%;
  height: 15rem;
  background-image: url(../../assets/tags.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin: 2rem auto;
}
/* .tag {
  width: 90%;
  height: 20rem;
  margin: 4rem auto;
} */
.transaction {
  margin-top: 7rem;
}
td > li {
  list-style: none;
}
.textcolor {
  color: black;
}
.bggray {
  background-color: rgb(207, 220, 231);
}
.white {
  background-color: rgba(255, 0, 0, 0.318);
}
.boxshadow {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  background-color: #054793;
  margin: auto 1rem;
  color: white;
}
.boxshadow1 {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  color: #054793;
  margin: auto 1rem;
  background-color: white;
  font-weight: bold;
}
.flag {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.flag2 {
  width: 30px; /* Adjust the width and height as needed */
  height: 30px;
  border-radius: 50%; /* This creates the round shape */
  background-color: white; /* Set the background color */
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn23 {
  background-color: transparent;
  color: white;
}
..btn23:hover {
  color: white;
}
.auto {
  margin: auto 1rem;
}
.clip {
  background-color: #054793;
  height: 30px;
  width: 20px;
  color: white;
  font-weight: bold;
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 13% 100%, 0 48%, 15% 0);
}
