/* @import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap"); */

.fourthsec_bg {
  background-color: #f0f0f05c;
  font-family: "Roboto", sans-serif;
  color: black;
}
table {
  color: black;
}
