.setUp > p {
  font-weight: 500;
  color: #1565c0;
  text-transform: uppercase;
}
h2 {
  font-weight: 500;
}
.setUp {
  padding-top: 3rem;
}
.box1 {
  border: 1px solid gray;
  margin-bottom: 2rem;
  margin-right: 1rem;
  padding: 1rem;
  height: 15rem;
}
.box1 p:nth-child(1) {
  color: black;
  font-weight: 500;
}
